.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Background_ZW1_023.webp");
}

.u-section-1 .u-sheet-1 {
  min-height: 976px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 80px 117px 0 637px;
}

.u-section-1 .u-image-1 {
  width: 620px;
  height: 719px;
  margin: -58px auto 0 17px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -645px 45px 60px 637px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 17px;
    margin-left: 501px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: 17px;
    margin-left: 501px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 17px;
    margin-left: 501px;
    margin-bottom: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 384px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 298px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-bottom: 60px;
    margin-left: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 288px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 626px;
    margin-left: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 288px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1270px;
  }

  .u-section-1 .u-text-1 {
    width: 234px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 338px;
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-bottom: initial;
  }
}