.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Background_ZW1_023.webp");
}

.u-section-1 .u-sheet-1 {
  min-height: 976px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 87px 133px 0 621px;
}

.u-section-1 .u-image-1 {
  width: 620px;
  height: 719px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -691px 61px 60px 621px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1665px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 63px;
    margin-right: 251px;
    margin-left: 267px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 795px;
    margin-left: 148px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -1461px;
    margin-right: 267px;
    margin-left: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 336px;
    margin-top: 80px;
    margin-right: 177px;
    margin-left: 207px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 707px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1384px;
    margin-right: 66px;
    margin-left: 124px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1652px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 61px;
    margin-right: 110px;
    margin-left: 94px;
  }

  .u-section-1 .u-image-1 {
    height: 626px;
    margin-top: 837px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: 419px;
    margin-top: -1418px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1578px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 793px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: -1380px;
  }
}